In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pyopenspecy
from importlib.resources import files
import pandas as pd

In [5]:
m = pyopenspecy.random_raman_metadata()
m

{'sample_name': 4927,
 'spectrum_identity': 'Titanite',
 'spectrum_id': 'Titanite__R050114-3__Raman__514__0__ccw__Raman_Data_Processed__5395',
 'other_information': 'rruff.info/R050114'}

In [4]:
s = pyopenspecy.random_raman_spectrum()
s

         wavenumber  intensity  sample_name  group
4468724       177.8   0.000000         3597   3597
4468725       179.0   0.003799         3597   3597
4468726       180.2   0.000065         3597   3597
4468727       181.5   0.003502         3597   3597
4468728       182.7   0.003350         3597   3597
...             ...        ...          ...    ...
4469951      1560.1   0.002306         3597   3597
4469952      1561.2   0.002492         3597   3597
4469953      1562.2   0.000478         3597   3597
4469954      1563.2   0.000101         3597   3597
4469955      1564.2   0.000000         3597   3597

[1232 rows x 4 columns]

In [6]:
m = pyopenspecy.random_ftir_metadata()
m

{'sample_name': 503,
 'spectrum_identity': 'polyurethane',
 'spectrum_id': '231Primpke',
 'other_information': 'Natural /Synthetic Plastic/other polyurethane PUR'}

In [18]:
s = pyopenspecy.random_ftir_spectrum()
s

        wavenumber  intensity  sample_name  group
171600       667.3   0.176357          133    133
171601       669.2   0.190179          133    133
171602       671.1   0.184789          133    133
171603       673.0   0.178161          133    133
171604       675.0   0.141958          133    133
...            ...        ...          ...    ...
172895      3164.7   0.023375          133    133
172896      3166.6   0.025306          133    133
172897      3168.5   0.028866          133    133
172898      3170.5   0.034094          133    133
172899      3172.4   0.053434          133    133

[1300 rows x 4 columns]